<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED">
    </uses-permission>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES">
    </uses-permission>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO">
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/snotesicon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/snotesicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteTaking">
        <activity
            android:name=".DRAWING.UpdateDrawingActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DRAWING.DrawingActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TODO.AllTodoTask"
            android:exported="false"
            android:parentActivityName=".NOTES.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".REMAINDERNOTES.UpdateRemainder"
            android:exported="false"
            android:parentActivityName=".REMAINDERNOTES.RemainderNotes" />
        <activity
            android:name=".REMAINDERNOTES.RemainderNotes"
            android:exported="false"
            android:parentActivityName=".NOTES.MainActivity"
            android:theme="@style/Theme.Todoister.NoActionBar"/>
        <activity
            android:name=".REMAINDERNOTES.Remainders"
            android:exported="false"
            android:parentActivityName=".REMAINDERNOTES.RemainderNotes" />
        <activity
            android:name=".DEVELOPER.Developer"
            android:exported="false"
            android:parentActivityName=".NOTES.MainActivity" />
        <activity
            android:name=".FEATURES.Features"
            android:exported="false"
            android:parentActivityName=".NOTES.MainActivity" />
        <activity
            android:name=".USER.screenLock"
            android:exported="false"
            android:parentActivityName=".NOTES.MainActivity" />
        <activity
            android:name=".USER.UserForm"
            android:exported="false"
            android:parentActivityName=".NOTES.MainActivity" />
        <activity
            android:name=".SETTING.Setting"
            android:exported="true"
            android:parentActivityName=".NOTES.MainActivity">
        </activity>
        <activity
            android:name=".SPLASHSCREEN.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".NOTES.UpdateActivity"
            android:exported="true"
            android:parentActivityName=".NOTES.MainActivity"
            android:requestLegacyExternalStorage="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NOTES.AddNoteActivity"
            android:exported="false"
            android:parentActivityName=".NOTES.MainActivity"
            android:requestLegacyExternalStorage="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NOTES.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <receiver
            android:name=".NOTIFICATION.AlarmNotification"
            android:enabled="true"
            android:permission="TODO" />
        <receiver
            android:name=".NOTIFICATION.MyAlarmReceiver"
            android:enabled="true"
            android:permission="TODO" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>