<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.app.snotes">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/snotesicon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/snotesicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteTaking">
        <activity
            android:name=".UpdateRemainder"
            android:exported="false" />
        <activity
            android:name=".RemainderNotes"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Remainders"
            android:exported="false"
            android:parentActivityName=".RemainderNotes" />
        <activity
            android:name=".Developer"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Features"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".screenLock"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserForm"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdateActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:requestLegacyExternalStorage="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddNoteActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:requestLegacyExternalStorage="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <receiver
            android:name=".AlarmNotification"
            android:enabled="true"
            android:permission="TODO" />

      <receiver android:name=".MyAlarmReceiver"
          android:enabled="true"
          android:permission="TODO">

      </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>